.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  color: black;
  /* flex: 1; */
  margin: 10px;
  z-index: 1;
  width: 100%;
  min-height: 400px;
  min-width: 100px;
  padding: 20px;
}

.product:hover {
  box-shadow: -5px 3px 20px 5px rgb(46, 44, 44);
}

.product__info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  height: 100px;
  position: relative;
  top: -10px;
}

.product__ratings {
  display: flex;
  padding: 4px;
}

.product > img {
  min-height: 220px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  cursor: pointer;
  background-color: #f0c14b;
  position: relative;
  width: 147px;
  height: 26px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
/*  */
